<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
    <target name="logfile" xsi:type="File" fileName="log.txt" />
    <target name="logconsole" xsi:type="Console" />
  </targets>

  <rules>
    <!--
      Enable if you want to show log messages in the console. Right now the app is a console app, so there is no need to show info messages there, they will just confuse a user.
      It would make more sense for other application types, e.g. a web app.
    -->
    <!--<logger name="*" minlevel="Info" writeTo="logconsole" />-->
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>